body { font-family: Tahoma, Geneva, Verdana, sans-serif; background:#fff; color:#111; }

.video-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 0;
}

.video-container iframe {
  width: 100%;
  height: 450px;
  display: block;
}

a { color:#B8CEE8; }